body{
margin:0;
font-family:'Playfair Display', serif;
background:#fff4f4;
text-align:center;
overflow-x:hidden;
}

/* Panels */

.panel{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
position:relative;
}

.hidden{
display:none;
}

/* Curtains */

#curtainPanel{
background:#111;
position:relative;
overflow:hidden;
}

.curtain{
position:absolute;
top:0;
width:50%;
height:100%;
background:#b30000;
transition:2s;
}

.left{ left:0; }
.right{ right:0; }

.open .left{
transform:translateX(-100%);
}

.open .right{
transform:translateX(100%);
}
#openBtn{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
padding:16px 30px;
font-size:18px;
border:none;
border-radius:30px;
background:white;
cursor:pointer;
z-index:10;
}
/* Names */

.names{
font-family:'Great Vibes';
font-size:64px;
color:#b30000;
}

.names span{
color:#333;
}

/* Coins */

.coins{
display:flex;
gap:40px;
margin-top:30px;
}

.coin{
border-radius:50%;
background:#d4af37;
}

/* Countdown */

#countdown{
display:flex;
gap:25px;
margin-top:30px;
}

#countdown span{
font-size:40px;
color:#b30000;
}

/* Cards */

.card{
background:white;
padding:25px;
margin:20px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
width:250px;
}

/* Music Button */

#musicBtn{
position:fixed;
top:20px;
right:20px;
background:white;
border:none;
border-radius:50%;
font-size:22px;
padding:10px 14px;
cursor:pointer;
}

footer{
padding:40px;
opacity:0.6;
}
